body {
  background-color: lightgrey;
}

.main-button {
  position: absolute;
  top: 50vh;
  left: 50vw;
  width: 40vh;
  height: 40vh;

  user-select: none;

  border: 5px solid grey;
  border-radius: 50%;

  background-color: dimgrey;

  transform: translate(-50%, -50%);
}

.main-button:active {
  background-color: grey;
}

.main-button-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;

  pointer-events: none;
  user-select: none;

  border-radius: inherit;

  transform: translate(-50%, -50%);
}

.main-counter {
  position: absolute;
  top: 15vh;
  left: 50vw;

  pointer-events: none;
  user-select: none;

  margin: 0;

  font-family: "Comic Sans MS";

  transform: translateX(-50%);
}

.main-shop {
  position: absolute;
  top: 2%;
  left: 0;
  width: 30vw;
  height: 96%;

  margin-left: 5px;

  border-radius: 10px;

  transform: translateX(-99.5%);
  transition: transform .5s;

  background-color: #202020;

  z-index: 2;
}

.main-shop_tab {
  position: absolute;
  top: 2%;
  left: 0;
  width: 7px;
  height: 96%;

  background-color: #202020;

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.main-shop-item {
  position: relative;
  left: 5%;
  width: 90%;
  height: 100px;

  margin-top: 20px;

  background-color: blue;
}