body {
  background-color: lightgrey;
}

.main-button {
  position: absolute;
  top: 50vh;
  left: 50vw;
  width: 40vh;
  height: 40vh;

  user-select: none;

  border: 5px solid grey;
  border-radius: 50%;

  background-color: dimgrey;

  transform: translate(-50%, -50%);
}

.main-button:active {
  background-color: grey;
}

.main-button-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;

  pointer-events: none;
  user-select: none;
  cursor: pointer;

  border-radius: inherit;

  transform: translate(-50%, -50%);
}

.main-counter {
  position: absolute;
  top: 15vh;
  left: 50vw;

  pointer-events: none;
  user-select: none;

  margin: 0;

  font-family: "Comic Sans MS";

  transform: translateX(-50%);
}

.main-shop {
  position: absolute;
  top: 2%;
  left: 0;
  width: 30vw;
  height: 96%;

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  transform: translateX(-98.5%);
  transition: transform .5s;

  background-color: #202020;
}

.main-shop-item {
  position: relative;
  top: auto;
  left: 5%;
  width: 90%;
  height: 100px;

  margin-top: 20px;
  border-radius: 10px;

  background-color: #303030;
}

.main-shop-item-title {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;

  user-select: none;

  font-family: 'Comic Sans MS';
  text-align: center;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  color: white;
  background-color: #151515;
}

.main-shop-item-content_wrapper {
  position: absolute;
  top: 60%;
  left: 1%;
  width: 60%;
  height: 60px;

  transform: translateY(-50%);

  background-color: lime;
  opacity: .5;
}

.main-shop-item-disc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;

  margin-left: 70px;

  user-select: none;

  font-family: 'Comic Sans MS';
  font-size: 80%;
  text-align: center;

  color: white;
  background-color: red;
}

.main-shop-item-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;

  border-radius: 50%;

  pointer-events: none;
  user-select: none;
}

.main-shop-item-button_wrapper {
  position: absolute;
  top: 60%;
  left: 0;
  width: 100%;
  height: 60px;

  margin-left: 1%;
  margin-right: 1%;
  padding-left: 60px;

  transform: translateY(-50%);

  background-color: blue;
  opacity: .5;
}