body {
  background-color: lightgrey;
}

.main-button {
  position: absolute;
  top: 50vh;
  left: 50vw;
  width: 40vh;
  height: 40vh;

  border: 5px solid grey;

  border-radius: 50%;

  background-color: dimgrey;

  transform: translate(-50%, -50%);
}

.main-button:active {
  background-color: grey;
}

.main-button-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;

  pointer-events: none;
  user-select: none;

  border-radius: inherit;

  transform: translate(-50%, -50%);
}

.main-counter {
  position: absolute;
  top: 15vh;
  left: 50vw;

  margin: 0;

  font-family: "Comic Sans MS";

  transform: translateX(-50%);
}