body {
  overflow: hidden;
}

img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.spinner {
  position: absolute;
  width: 200px;
  height: 200px;
}

.notification {
  position: absolute;
  top: 50vh;
  left: 0;
  width: 100vw;
  height: auto;

  text-align: center;
  font-size: 300%;
  font-family: "Arial";

  color: white;
  opacity: 0;

  transition: opacity 250ms;
  transform: translateY(-50%);
}